{{>header}}
{{>navbar}}
<section class="container my-4">
    <h3 class="text-center text-primary my-3">add New Users</h3>
    <form>
        <div class="mb-3">
            <input name="name" class="form-control" placeholder="Name">
        </div>
        <div class="mb-3">
            <input name="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-3">
            <input name="phone" class="form-control" placeholder="Phone">
        </div>
        <div class="mb-3">
            <input name="age" class="form-control" placeholder="Age">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add user</button>
        </div>

    </form>
</section>
{{>footer}}